<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <title>Pyvol Utility</title>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
          <script src="static/pyvol.js"></script>
          <link rel="stylesheet" href="static/pyvol.css">
     </head>
     <body style="display: inline-block; text-align: center; width: 100vw">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100%">
               <a class="navbar-brand" href="#">Pyvol</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
               </button>

               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                         <li class="nav-item active areyousure">
                              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="/analyze">Analyze </a>
                         </li>
                         <li class="nav-item areyousure">
                              <a class="nav-link" href="https://github.com/jrvick42/pyvol">Github </a>
                         </li>
                         <li class="nav-item areyousure">
                              <a class="nav-link" href="https://volatilityfoundation.org">Volatility Foundation </a>
                         </li>
                    </ul>
               </div>
          </nav>

          <div class="analyzebody" style="margin: 20px; height: 90vh; width: 95vw; display: inline-block">
               <div class="container" style="text-align: center; display: inline-block; width: 90%; height: 15%">
                    <div class="row w-100 p-3" style="width: 100%">
                         <div class="col" style="text-align: center; display: inline-block;">
                              <label for="filelabel">Choose a file:</label>
                              <br>
                              <label id="filelabel" for="file" class="btn btn-md btn-info"><large>+</large></label>
                              <button id="removefile" class="btn btn-md btn-danger" style="display: none; margin-bottom: 8px"><large>x</large></button>
                              <input type="file" style="visibility: hidden; display: none" id="file">
                              <p id="chosenfile">No file chosen</p>
                         </div>
                         <div class="col" style="text-align: center; display: inline-block;">
                              <label for="command">Choose a command:</label>
                              <br>
                              <input type="text" class="form-control" id="command" placeholder="command">
                         </div>
                         <div class="col" style="text-align: center; display: inline-block;">
                              <label for="options">Choose the options:</label>
                              <br>
                              <input type="text" class="form-control" id="options" placeholder="options">
                         </div>
                         <div class="col" style="text-align: center; display: inline-block; padding-top: 24px">
                              <button id="submit_button" class="btn btn-lg btn-success" name="button">Go</button>
                              <div class="drawing" id="loading">
                                   <div class="loading-dot"></div>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="output-body" id="output-body" style="height: 80%; width: 95%; border: 1px solid black; border-radius: 3px; display: inline-block;  overflow: auto;">
                    <ul class="nav nav-tabs navbar-dark bg-dark" id="navtabs"></ul>
               </div>
          </div>
     </body>


     <script>

          $(document).ready(function() {

               $("#submit_button").click(function(){

                    loading()

                    var file = $("#file").val();
                    var opts = $("#options").val();
                    var cmnd = $("#command").val();
                    var outf = $("#outputfile").val();

                    $.ajax({
                         url: "/execute",
                         type: "get",
                         data: {memfile: file, options: opts, command: cmnd, outfile: outf},
                         success: function(response) {
                              var newtab = "<li class='nav-item'><a class='nav-link' href='#' id='" + cmnd + "_tab'>" + cmnd + "</a></li>"
                              $("#navtabs").append(newtab)
                              $("#output-body").append(response);

                              $(".command-output").each(function() {
                                   // set display: none
                                   $(this).css("display", "none")
                              });

                              // set display back to normal for the most reecent Command
                              $(".output-body").find(".command-output").last().css("display", "inline-block")
                              done_loading()
                         },
                         error: function(xhr) {
                              console.log("Literally no idea what happened")
                              done_loading()
                         }
                    });


               });

               // A file has been selected so we might need to add the remove file button
               $("#file").change(function() {

                    // did we just remove a file?
                    if($("#file").val() == ""){ return };

                    // Otherwise, show the remove button and change the displayed filename
                    $("#removefile").css("display", "inline-block")
                    $("#chosenfile").html($("#file").val())
               });

               $("#removefile").click(function() {

                    // need to remove the file in Pyvol, so make the request to the server
                    $.ajax({
                         url: "/removefile",
                         type: "get",
                         success: function(response) {
                              if(response == "file removed"){
                                   // the removefile button has been clicked, so update the file select value
                                   $("#file").val("")
                                   // remove the remove file button
                                   $("#removefile").css("display", "none")
                                   // Update the displayed filename
                                   $("#chosenfile").html("No file chosen")
                              }
                         },
                         error: function(xhr) {
                              alert("File could not be removed")
                              console.log("Literally no idea what happened")
                         }
                    });
               });

               $(".areyousure").click(function() {
                    if (confirm("Are you sure you want to leave this page?\nYour progress will not be saved")){

                    };
               });

               $("#navtabs").on("click", "li.nav-item", (function() {

                    var tab_length = $(".output-body").children(".command-output").length;
                    var index = 0;

                    for(i = 0; i < tab_length; i++){
                         var nav = $("#navtabs").children(".nav-item")[i];
                         var nava = $(nav).children(".nav-link")[0];

                         if($(nava).attr("id") != $(this).children(".nav-link").attr("id")){
                              var ele = $(".output-body").children(".command-output")[i];
                              $(ele).css("display", "none");
                         }
                         else{
                              index = i;
                         };
                    };

                    var ele2 = $(".output-body").children(".command-output")[index];
                    $(ele2).css("display", "inline-block");
               }));
          });

          function loading(){
               // enable the GO button
               document.getElementById('submit_button').disabled = true;
               // start the loading icon
               document.getElementById('loading').style.display = "inline-block"

               // would be nice but didn't work
               // append the loading div section to the appropriate div
               // var parent = $("#submit_button").parent()
               // parent.append('<div class="drawing" id="loading"><div class="loading-dot"></div></div>')
          }

          function done_loading(){
               // disable the GO button
               document.getElementById('submit_button').disabled = false;
               // stop the loading icon
               document.getElementById('loading').style.display = "none"

               // would be nice but didn't work
               // remove the loading div section to the appropriate div
               // var parent = $("#submit_button").parent()
               // parent.children().last().remove()
          }

     </script>
</html>
