<!-- <ul class="nav nav-tabs navbar-dark bg-dark" id="navtabs">
     {% if tabs|length >= 1 %}
          {% for tab in tabs %}
               <li class="nav-item"><a class="nav-link" href="#" id="{{ tab }}_tab">{{ tab }}</a></li>
          {% endfor %}
     {% else %}
          <li class="nav-item">Nothing to show yet</li>
     {% endif %}
</ul> -->



<div class="command-output" id="{{ tab }}_output" style="text-align: left; margin: 5px;">
     <tt id="output-box">
          <pre>{{ data }}</pre>
     </tt>
</div>
